body {background: url(fondobebop2.png); background-size: 100%;}
ul{list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: rgb(20, 3, 3);}
li{float: left;padding: 5px 160px;}
/*No habia paddig por lo que el contorno era 0, le agregue 5 y 160 para que se centre*/
li a{display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
li a:hover{background-color: tomato;}
/*Este utimo codigo le da un colo rojo a la barra de navegacion cuando se selecciona un boton*/

div.titulo2{-webkit-text-stroke: 2px black;
    color: transparent; }


section.imagennombre {margin: 30px;}
iframe.videocw {margin: 80px;}
h1.tituloprincipal {position: 40px;}